.navbar-tab
  background-color white
  box-shadow 0 3rpx 13rpx rgba(#D4D4D4, .5)
  display flex
  justify-content space-between
  height 100rpx
  padding-top 15rpx
  padding-bottom 10rpx

.navbar-item
  font-size 36rpx
  height 75rpx
  line-height 75rpx
  text-align center

  &.active
    background-color #4367FF
    border-radius 38rpx
    color white
    font-weight bold

  radio
    display none
